[Unit]
Description=Bro Network Intrusion Detection System (NIDS)
After=network.target

[Service]
User=root
Type=forking
Environment=HOME=/
ExecStart=/opt/bro/bin/broctl start
ExecStop=/opt/bro/bin/broctl stop

[Install]
WantedBy=multi-user.target
